<div class="row mt-5">
  <div class="col-md-12">
      <!--Card-->
      <mdb-card cascade="true" narrower="true" class="mt-5">
          <!--Card image-->
          <div class="view gradient-card-header blue darken-2">
              <h4 class="h4-responsive text-white">Historico</h4>
          </div>
          <!--/Card image-->
          <!--Card content-->
          <mdb-card-body>
              <!-- <h3 class="mt-5 text-left"><strong>Striped rows:</strong></h3> -->
              <div *ngFor="let match of matchs">
                <div class="matches" *ngFor="let item of match.data.info.participants">
                  <div (click)="navigateToMatch(match.entrie)" *ngIf="item.puuid == user.puuid" class="match p{{item.placement}}">
                    <div class="info">
                      <div>{{item.placement}}º Posicion</div>
                      <div>
                        Lvl.{{item.level}}
                        <img class="gold" src="../../../../assets/icons/icon-gold.svg" alt="icono oro">
                        {{item.gold_left}}
                      </div>
                      <div>
                        <div [ngSwitch]="match.data.info.game_variation">
                          <span *ngSwitchCase="'TFT3_GameVariation_Bonanza'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_Bonanza.png" alt="icono galaxia">
                            Trade Sector
                          </span>
                          <span *ngSwitchCase="'TFT3_GameVariation_FreeNeekos'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_FreeNeekos.png" alt="icono galaxia">
                            The Neekoverse
                          </span>
                          <span *ngSwitchCase="'TFT3_GameVariation_FreeRerolls'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_FreeRerolls.png" alt="icono galaxia">
                            Trade Sector
                          </span>
                          <span *ngSwitchCase="'TFT3_GameVariation_MidGameFoN'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_MidGameFoN.png" alt="icono galaxia">
                            Superdense Galaxy
                          </span>
                          <span *ngSwitchCase="'TFT3_GameVariation_StartingItems'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_StartingItems.png" alt="icono galaxia">
                            Galactic Armory
                          </span>
                          <span *ngSwitchCase="'TFT3_GameVariation_TwoItemMax'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_TwoItemMax.png" alt="icono galaxia">
                            Binary Star
                          </span>
                          <span *ngSwitchCase="'TFT3_GameVariation_TwoStarCarousels'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_TwoStarCarousels.png" alt="icono galaxia">
                            Star Cluster
                            <!-- <img class="info-icon" src="https://rerollcdn.com/ui/icon-info.svg" alt="info"> -->
                          </span>
                          <span *ngSwitchCase="'TFT3_GameVariation_SmallerBoards'">
                            <img class="galaxie" src="../../../../assets/img/galaxies/TFT3_GameVariation_SmallerBoards.png" alt="icono galaxia">
                            Dwarf Planet
                          </span>
                          <span *ngSwitchDefault>
                            Normal Game
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="build">
                      <div class="champions">
                        <a *ngFor="let unit of item.units" class="tier{{unit.tier}} r{{unit.rarity}}">
                          <img src="../../../../assets/img/champions/{{unit.character_id}}.png" class="champion">
                          <div class="items">
                            <img *ngIf="unit.items[0] && unit.items[0] != 999" class="item" alt="primer item" src="../../../../assets/img/items/set3/{{unit.items[0]}}.png">
                            <img *ngIf="unit.items[1] && unit.items[1] != 999" class="item" alt="segundo item" src="../../../../assets/img/items/set3/{{unit.items[1]}}.png">
                            <img *ngIf="unit.items[2] && unit.items[2] != 999" class="item" alt="tercer item" src="../../../../assets/img/items/set3/{{unit.items[2]}}.png">
                          </div>
                        </a>
                      </div>
                      <div class="traits">
                        <div *ngFor="let trait of item.traits">
                          <div *ngIf="trait.tier_current  > 0" class="builder-bonus-item active tier{{trait.style}}">
                            <div class="builder-bonus-icon">
                              <img src="../../../../assets/img/traits/{{trait.name | lowercase }}.png" alt="{{trait.name}}">
                              <div class="builder-bonus-counter">
                                <span>{{trait.num_units}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </mdb-card-body>
          <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
  </div>
</div>

<!-- name: "MechPilot"
num_units: 3
style: 3
tier_current: 1
tier_total: 1 -->
<!-- <div style="position: absolute; top: 0px; left: 0px; width: 100%;">
<div>
  <div class="rc-tooltip ui-tooltip rc-tooltip-placement-top  rc-tooltip-hidden" style="left: 646px; top: 1171px;">
    <div class="rc-tooltip-content">
      <div class="rc-tooltip-arrow">

      </div>
      <div class="rc-tooltip-inner" role="tooltip">
        All Tier 1/2/3 champions on carousels have 2 stars.
      </div>
    </div>
  </div>
</div>
</div> -->
