<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Historico</h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <mdb-card-body>
                <!-- <h3 class="mt-5 text-left"><strong>Striped rows:</strong></h3> -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>PUUID</th>
                        <th>Oro sobrante</th>
                        <th>Ronda</th>
                        <th>Posicion</th>
                        <th>Nivel</th>
                        <th>Jugadores eliminados</th>
                        <th>Unidades</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    </tbody>
                </table>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
</div>
